.full-width-super-hero {
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  color: #8c1515;
  height: 200px;
}

#full_width_super_hero {
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  color: #8c1515;
  height: 200px;
}
  
  
