#digital-magazine-megamenu {
  z-index: 9999;
}
#digital-magazine-megamenu .container {
  position: absolute;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  background-color: #9ca4ab;
}
.region-digital-magazine-megamenu {
  width: 1170px;
}
.test {
  
}
